#loader {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #333;
    opacity: .5;
    width: 100%;
    height: 100%;
    z-index:9999;
}

.hidden {
    display: none; 
}

.cidade {
    font-size: 0;
}

.linha {
    display: block;
}

.celula {
    width: 13px;
    height: 13px;
    border: 1px solid #000;
    display: inline-block;
}

.casa {
    background-color: #ff6a00;
}

.rua {
    background-color: #333;
}
